<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="LogProvider" type="Logger.LoggerConfiguration, App_Code" allowDefinition="MachineToApplication"/>
	</configSections>
	<connectionStrings>
		<add name="TextFileToLogConnectionString" connectionString="c:\log.txt"/>
		<add name="TextFileToLogConnectionString2" connectionString="c:\log2.txt"/>
	</connectionStrings>
	<LogProvider defaultProvider="LoggerAggregator">
		<providers>
			<add name="LoggerAggregator" type="Logger.LoggerAggregator, App_Code" description="this came from config"/>
			<add name="EmailLogger" type="Logger.EmailLogger, App_Code" description="Used to log in the email"/>
			<add name="TextFileLogger" type="Logger.TextFileLogger, App_Code" connectionStringName="TextFileToLogConnectionString" description="this came from config"/>
			<add name="TextFileLogger2" type="Logger.TextFileLogger, App_Code" connectionStringName="TextFileToLogConnectionString2" description="this came from config"/>
		</providers>
	</LogProvider>
	<system.web>
		<compilation debug="true"/>
	</system.web>
</configuration>
