<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SelectOperator.Properties.Settings.InventoryConnectionString"
            connectionString="Data Source=JITENDRA;Initial Catalog=Inventory;User ID=sa;Password=kogent@123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>